@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #224941 url(./bg.jpg) no-repeat center center/cover;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 800;
    text-shadow: 2px 2px 1px black;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 260px;
    margin: auto;
    position: relative;
    transform: scale(1);
}

.gradient-circle
{
    background: conic-gradient(
        rgb(69, 2, 253) 0%,
        rgb(69, 2, 253) 40%,
        rgb(188, 188, 202) 40%,
        rgb(188,188,202) 60%,
        rgba(240, 8, 240, 0.692) 60%,
        rgba(240, 8, 240, 0.692) 100%
    );
    height: 280px;
    width: 280px;
    position: absolute;
    top:-10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.circle
{
  background-color: darkslateblue;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%; 
}

.pointer-container
{
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer
{
    background-color: #fff;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: block;
}

.container.grow
{
    animation: grow 3s linear forwards;
}

.container.shrink
{
    animation: shrink 3s linear forwards;
}
@keyframes rotate
{
    from
    {
     transform: rotate(0deg);
    }
    to
    {
     transform: rotate(360deg);
    }
}

@keyframes grow
{
    from
    {
     transform: scale(1);
    }
    to
    {
     transform: scale(1.2);
    }
}

@keyframes shrink
{
    from
    {
     transform: scale(1.2);
    }
    to
    {
     transform: scale(1);
    }
}